* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgoldenrodyellow;
    text-align: center;
}

img {
    width: 250px;
    height: 175px;
    border: 1px solid black;
}

.hidden {
    display: none;
}

.rotate {
    transform: rotateY(180deg);
}

.trastion {
    transition: 2.5s;
}

/* Card Layout */
.layout,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 288px;
    height: 220px;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    background-color: aquamarine;
}

.info {
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 10%;
    background-color: lightcyan;
    color: black;
}

/* Sections */
#games,
#books,
#shows {
    text-align: center;
    display: flex;
    flex-direction: row;
}